---
title: Gael Rial's Blog
layout: layouts/home.njk
description: Gael Rial's Blog.
image: https://upload.wikimedia.org/wikipedia/en/a/a9/Example.jpg
date: Last Modified
---

<!-- p>
  This is a demo website based on
  <a href="https://www.industrialempathy.com/posts/eleventy-high-performance-blog/">eleventy-high-performance-blog</a>.
</p>
<!-->

