---
title: Projects
layout: layouts/home.njk
description: Projects.
date: Last Modified
permalink: /projects/
eleventyNavigation:
  key: Projects
  order: 1
---

{% set postslist = collections.projects %}
{% include "projectslist.njk" %}

<h1 id="other-projects-title">Other projects</h1>

{% set postslist = collections.other_projects %}
{% include "projectslist.njk" %}
