---
title: Projects
layout: layouts/home.njk
description: Projects.
date: Last Modified
permalink: /projects/
eleventyNavigation:
  key: Projects
  order: 1
---

<div id="posts">
  {% set postslist = collections.projects %}
  {% include "projectslist.njk" %}
</div>

<h1 id="other-projects-title">Other projects</h1>

<div id="other-projects">
  {% set otherList = collections.other_projects %}
  {% include "otherprojectslist.njk" %}
</div>
