<div class="skills">
{% for skill in  collections.skills %}
<img alt="{{ skill.data.title }}" class="skill-image" src="{{ skill.data.image }}">
{% endfor %}
</div>
<!-- Avoids CSS optimization -->
<div class="selected-skill"></div>

> <div id="skills-content"></div>

<script src="/js/skills.js"></script>
