<div class="about">
{% for skill in  collections.about %}
<img alt="{{ skill.data.title }}" class="about-image" src="{{ skill.data.image }}">
{% endfor %}
</div>
<!-- Avoids CSS optimization -->
<div class="selected-about"></div>

> <div id="about-content"></div>

<script src="/js/about.js"></script>
