<div class="downloads">

  {% if windows_download %}
    <a href="{{ windows_download }}">
      <img src="/img/platform/windows.png" alt="Windows">
    </a>
  {% endif %}


  {% if mac_download %}
    <a href="{{ mac_download }}">
      <img src="/img/platform/mac.png" alt="MacOS">
    </a>
  {% endif %}

  {% if ubuntu_download %}
    <a href="{{  ubuntu_download }}">
      <img src="/img/platform/ubuntu.png" alt="Ubuntu">
    </a>
  {% endif %}

  {% if java_download %}
    <a href="{{ java_download }}">
      <img src="/img/platform/java.png" alt="Java">
    </a>
  {% endif %}

</div>
