<div id="projects">
  {% for post in postslist | reverse %}
    <article class="project">
      {% if post.data.image %}
        <a href="{{ post.url | url }}">
          <img src="{{ post.data.image }}" alt="Image">
        </a>
      {% endif %}

      <section class="info">
        <h1>
          <a href="{{ post.url | url }}">
            {{ post.data.title }}
          </a>
        </h1>
        <p>
          <a href="{{ post.url | url }}">
            {{ post.data.description }}
          </a>
        </p>
      </section>
      <section class="techs">
        {% for tech in post.data.tech %}
          <a href="/techs/{{ tech | slug }}">
            <img src="/img/tech/{{ tech }}.png" alt="{{ tech }}" title="{{ tech }}">
          </a>
        {% endfor %}
      </section>
    </article>
  {% endfor %}
</div>
