---
title: Posts
layout: layouts/home.njk
description: Posts.
image: https://upload.wikimedia.org/wikipedia/en/a/a9/Example.jpg
date: Last Modified
eleventyNavigation:
  key: Posts
  order: 0
---

<div id="posts">
  {% set postslist = collections.posts %}
  {% include "postslist.njk" %}
</div>
