---
#layout: layouts/base.njk
templateClass: tmpl-post
---
{% extends "layouts/project.njk" %}

{% block article %}
{{ super() }}

  {% set windows_download = "https://github.com/gaeqs/JAMS/releases/download/0.1-BETA/JAMS-0.1.exe" %}
  {% set mac_download = "https://github.com/gaeqs/JAMS/releases/download/0.1-BETA/JAMS-macos.zip" %}
  {% set ubuntu_download = "https://github.com/gaeqs/JAMS/releases/download/0.1-BETA/jams_0.1.BETA-1_amd64.deb" %}
  {% set java_download = "https://github.com/gaeqs/JAMS/releases/download/0.1-BETA/JAMS-0.1.BETA.jar" %}

  <a href="https://github.com/gaeqs/JAMS/releases/">
    <h4>
      Other versions
    </h4>
  </a>

  {% include "downloads.njk" %}

{% endblock %}
